@model BugTracker.Models.Mitarbeiter

@{
    ViewData["Title"] = "MitarbeiterEdit";
}

<h1>MitarbeiterEdit</h1>

<h4>Mitarbeiter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MitarbeiterEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Profile" class="control-label"></label>
                <input asp-for="Profile" class="form-control" />
                <span asp-validation-for="Profile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aufgabe" class="control-label"></label>
                <input asp-for="Aufgabe" class="form-control" />
                <span asp-validation-for="Aufgabe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
